* {
  margin: 0;
  padding: 0;
}

.main-header,
.add {
  background-color: #470606;
}

.delete,
.add {
  background-color: #941515;
}

.activity {
  color: #101057;
}

.list-group-item {
  color: rgb(66, 63, 63);
  font-size: 20px;
}
